/* About Page (about-masthead) */

.about-masthead-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    padding: 0 10%;
}
@media screen and (max-width: 500px) {
    .about-masthead-container {
        padding: 0 5%;
    }
}
.about-masthead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.about-masthead video {
    width: 600px;
    height: auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1100px) {
    .about-masthead video {
        width: 500px;
    }
}
@media screen and (max-width: 800px) {
    .about-masthead video {
        width: 400px;
    }
}
@media screen and (max-width: 600px) {
    .about-masthead video {
        width: 300px;
    }
}
.about-masthead h1, .about-masthead h5, .about-masthead h6 {
    margin: 0;
    text-align: center;
}
.about-masthead h6 {
    font-weight: 600;
}
.about-masthead h5 {
    color: #373737;
}

/* About Page (about-values) */

.about-values {
    background-color: #eeeeee;
}
.about-values-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.values-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    padding: 0 10%;
}
@media screen and (max-width: 500px) {
    .values-title {
         padding: 0 5%;
     }
}
.about-values h1, .about-values h6, .about-values h5 {
    margin: 0;
    text-align: center;
}
.about-values h6 {
    font-weight: 600;
}
.about-values h5 {
    color: #373737;
}
.about-values-container img {
    width: 600px;
}
@media screen and (max-width: 1100px) {
    .about-values-container img {
        width: 500px;
    }
}
@media screen and (max-width: 800px) {
    .about-values-container img {
        width: 400px;
    }
}
@media screen and (max-width: 600px) {
    .about-values-container img {
        width: 300px;
    }
}
.values-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 0 auto;
    width: 80vw;
}
.values-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 15px;
}
.values-item:hover {
    transition: transform 0.3s ease-in-out;
    transform: translateY(-5px);
}
.values-item:first-child {
    background-color: #43aa8b;
}
.values-item:nth-child(2) {
    background-color: #f3722c;
}
.values-item:nth-child(3) {
    background-color: #f9c74f;
}
.values-item:nth-child(4) {
    background-color: #577590;
}
.values-item:nth-child(5) {
    background-color: #90be6d;
}
.values-item:last-child {
    background-color: #f94144;
}
.values-item i {
    font-size: 60px;
}
.values-item h2, .values-item i, .values-item h6 {
    margin: 0;
    text-align: left;
    color: #ffffff;
}
.values-item h6 {
    font-weight: 400;
}