/* Global Styling */

.btn {
    cursor: pointer;
}
.btn:hover, .nav-btn:hover {
    transition: transform 0.3s ease-in-out;
    transform: translateY(-5px);
}
.spring {
    background-color: #90be6d;
    border-color: #90be6d;
}
.spring:hover {
    background-color: #5A8E3E;
    border-color: #5A8E3E;
}
.summer {
    background-color: #f9c74f;
    border-color: #f9c74f;
}
.summer:hover {
    background-color: #D98D16;
    border-color: #D98D16;
}
.autumn {
    background-color: #f3722c;
    border-color: #f3722c;
}
.autumn:hover {
    background-color: #B94B15;
    border-color: #B94B15;
}
.winter {
    background-color: #43aa8b;
    border-color: #43aa8b;
}
.winter:hover {
    background-color: #2E7D67;
    border-color: #2E7D67;
}
body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}
section {
    padding: 50px 5% 80px 5%;
}
main {
    font-family: "Rubik", sans-serif;
}
h1 {
    color: #000000;
    font-weight: 600;
    font-size: 3em;
}
h2 {
    color: #000000;
    font-weight: 600;
    font-size: 2.5em;
}
h3 {
    color: #000000;
    font-weight: 500;
    font-size: 1.875em;
}
h4 {
    color: #000000;
    font-weight: 400;
    font-size: 1.5em;
}
h5 {
    color: #000000;
    font-weight: 400;
    font-size: 1.25em;
}
h6 {
    color: #000000;
    font-weight: 400;
    font-size: 1.2em;
}
p, a, li {
    color: #000000;
    font-weight: 400;
    font-size: 20px;
}
header a, footer a, li a {
    font-size: unset;
}
@media screen and (min-width: 0px) {
    h1 {
        color: #000000;
        font-weight: 600;
        font-size: 2.2em;
    }
    h2 {
        color: #000000;
        font-weight: 600;
        font-size: 1.5em;
    }
    h3 {
        color: #000000;
        font-weight: 500;
        font-size: 1.5em;
    }
    h4 {
        color: #000000;
        font-weight: 400;
        font-size: 1.5em;
    }
    h5 {
        color: #000000;
        font-weight: 400;
        font-size: 1.2em;
    }
    h6 {
        color: #000000;
        font-weight: 400;
        font-size: 1em;
    }
    p, a, li {
        color: #000000;
        font-weight: 400;
        font-size: 18px;
    }
    header a, footer a, li a {
        font-size: unset;
    }
}
@media screen and (min-width: 576px) {
    h1 {
        color: #000000;
        font-weight: 600;
        font-size: 2.5em;
    }
    h2 {
        color: #000000;
        font-weight: 600;
        font-size: 1.825em;
    }
    h3 {
        color: #000000;
        font-weight: 500;
        font-size: 1.875em;
    }
    h4 {
        color: #000000;
        font-weight: 400;
        font-size: 1.5em;
    }
    h5 {
        color: #000000;
        font-weight: 400;
        font-size: 1.2em;
    }
    h6 {
        color: #000000;
        font-weight: 400;
        font-size: 1em;
    }
    p, a, li {
        color: #000000;
        font-weight: 400;
        font-size: 18px;
    }
    header a, footer a, li a {
        font-size: unset;
    }
}
@media screen and (min-width: 767px) {
    h1 {
        color: #000000;
        font-weight: 600;
        font-size: 2.75em;
    }
    h2 {
        color: #000000;
        font-weight: 600;
        font-size: 2em;
    }
    h3 {
        color: #000000;
        font-weight: 500;
        font-size: 1.875em;
    }
    h4 {
        color: #000000;
        font-weight: 400;
        font-size: 1.5em;
    }
    h5 {
        color: #000000;
        font-weight: 400;
        font-size: 1.25em;
    }
    h6 {
        color: #000000;
        font-weight: 400;
        font-size: 1em;
    }
    p, a, li {
        color: #000000;
        font-weight: 400;
        font-size: 18px;
    }
    header a, footer a, li a {
        font-size: unset;
    }
}
@media screen and (min-width: 991px) {
    h1 {
        color: #000000;
        font-weight: 600;
        font-size: 3em;
    }
    h2 {
        color: #000000;
        font-weight: 600;
        font-size: 2.5em;
    }
    h3 {
        color: #000000;
        font-weight: 500;
        font-size: 1.8em;
    }
    h4 {
        color: #000000;
        font-weight: 400;
        font-size: 1.5em;
    }
    h5 {
        color: #000000;
        font-weight: 400;
        font-size: 1.25em;
    }
    h6 {
        color: #000000;
        font-weight: 400;
        font-size: 1em;
    }
    p, a, li {
        color: #000000;
        font-weight: 400;
        font-size: 20px;
    }
    header a, footer a, li a {
        font-size: unset;
    }
}
@media screen and (min-width: 1900px) {
    h1 {
        color: #000000;
        font-weight: 600;
        font-size: 3em;
    }
    h2 {
        color: #000000;
        font-weight: 600;
        font-size: 2.5em;
    }
    h3 {
        color: #000000;
        font-weight: 500;
        font-size: 2em;
    }
    h4 {
        color: #000000;
        font-weight: 400;
        font-size: 1.8em;
    }
    h5 {
        color: #000000;
        font-weight: 400;
        font-size: 1.6em;
    }
    h6 {
        color: #000000;
        font-weight: 400;
        font-size: 1.2em;
    }
    p, a, li {
        color: #000000;
        font-weight: 400;
        font-size: 24px;
    }
    header a, footer a, li a {
        font-size: unset;
    }
}
span, i {
    color: #000000;
}