.privacy-policy {
    padding: 5% 15%;
    font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 900px) {
    .privacy-policy {
        padding: 3% 10%;
    }
}
.privacy-policy p, .privacy-policy li, .privacy-policy a {
    font-weight: 500;
}
.privacy-policy div:last-child {
    padding: 30px 0 0 0;
}
.bold {
    font-weight: 700 !important;
}
ol {
    list-style-type: none;
}